@model University.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<!--
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.CourseID)</th>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Credits)</th>
        <th>@Html.DisplayNameFor(model => model.Department.Name)</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.CourseID)</td>
        <td>@Html.DisplayFor(model => model.Title)</td>
        <td>@Html.DisplayFor(model => model.Credits)</td>
        <td>@Html.DisplayFor(model => model.Department.Name)</td>
    </tr>
</table>
-->

<fieldset>
    <legend>Course</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.CourseID)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.CourseID)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Credits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Credits)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Department.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department.Name)
    </div>
</fieldset> 

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
